<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Library Unit Test - Author : Okta Liem" >
    <test name="Selenium Library Unit Test">
        <classes>
            <class name="com.oktaliem.testsuite.UnitTest">
            </class>
        </classes>
    </test>
</suite>